.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
}

.header h1 {
  margin: 0;
  font-size: 24px;
}

.header button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
}

.header button:hover {
  background-color: #0056b3;
}

.signup-login-heading {
  text-align: center;
  margin-top: 20px;
}

.signup-login-form {
  width: 350px;
  height: auto;
  align-items: center;
  margin: 20px auto;
  padding: 25px;
  background-image: url("https://www.shutterstock.com/image-photo/book-stack-library-room-blurred-600nw-1360320602.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
  border: 1px solid black;
}
.user-input {
  margin: 10px 0;
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-auth {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
}

.btn-auth:hover {
  background-color: #0056b3;
}

.signup-login-link {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #007bff;
  text-decoration: none;
}

.signup-login-link:hover {
  text-decoration: underline;
}
